{% extends 'main/base.html' %}

{% block title %} All Artists {% endblock %}

{% block content %}

<section>
    <div class="section-browse">
        <div class="all_genres_container_block">
            <h1>ALL ARTISTS</h1>

                <div class="genre_container_all_artists">
                    {% for artists in all_artists %}
                    <a href="{% url 'detail_artist' artists.id %}">
                        <div class="genre_block_all_artists">
                            <div class="bg_image_artist" style="background-image: url('{{ artists.artist_img.url }}')"></div>
                            <h4 class="bg_font_artist">{{ artists.artist_name }}</h4>
                        </div>
                    </a>
                    {% endfor %}
                </div>
        </div>
    </div>
</section>

{% endblock %}